### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1299]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [1365]:
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
#purchase_data.head()

## Player Count

* Display the total number of players

In [1301]:
#Find unique player value and store it in a variable to use it later on
unique_player_data = purchase_data.loc[:,["Gender","SN", "Age"]]
unique_player_data = unique_player_data.drop_duplicates()

players_count=unique_player.count()[0]

#Display number of unique players in df form
pd.DataFrame({"Total Unique Players": [players_count]}, columns = ["Total Unique Players"])

   Total Unique Players
0                   576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [1366]:
#Obtain number of unique items, use .unique()
unique_items = purchase_data['Item ID'].nunique()

#use .mean() to find average price of unique items
price_average = purchase_data['Price'].mean()

#use .count() to find number of purchases 
purchases_num = purchase_data["SN"].count()

#use .sum() to calculate total revenue
total_revenue = purchase_data["Price"].sum()

In [1367]:
# Place all of the data found into a summary DataFrame
purchasing_analysis = pd.DataFrame({"Number of Unique Items": unique_items,
                                    "Average Price": ['${:,.2f}'.format(price_average)],
                                    "Number of Purchases": [purchases_num],
                                    "Total Revenue": ['${:,.2f}'.format(total_revenue)]})
purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [1368]:
#Unique count of all players by gender
#Use unique_player_data to avoid counting duplicates,declared at the beginning
gen_demo_tot=unique_player_data["Gender"].value_counts()
#gen_demo_tot

In [1369]:
#Find Gender Demo percent and then format to %
#Use players_count to avoid including duplicate player info, declared at the beginning
gen_demo_perct=gen_demo_tot/players_count*100

In [1370]:
#Create DataFrame with a dictionary of lists
gender_demographics_df= pd.DataFrame({
    "Total Count":gen_demo_tot,
    "Percentage of Players": gen_demo_perct})

#format to %
gender_demographics_df.style.format({"Percentage of Players": "{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [1376]:
#For purchase count, it isnt necessary to use the unique count of players because need all purchases no matter who bought multiple times
f_purc_count = purchase_data[purchase_data['Gender']=='Female']['Price'].count()
m_purc_count = purchase_data[purchase_data['Gender']=='Male']['Price'].count()
o_purc_count = purchase_data[purchase_data['Gender']=='Other / Non-Disclosed']['Price'].count()

In [1377]:
#Average purchase price - we want this to return to us the mean of the added values from price column wherein gender is either female, male , or other
f_price_avg = purchase_data[purchase_data['Gender']=='Female']['Price'].mean()
m_price_avg = purchase_data[purchase_data['Gender']=='Male']['Price'].mean()
o_price_avg = purchase_data[purchase_data['Gender']=='Other / Non-Disclosed']['Price'].mean()

In [1378]:
#Find sum of total purchase value
f_tot_purc_sum = purchase_data[purchase_data['Gender']=='Female']['Price'].sum()
m_tot_purc_sum = purchase_data[purchase_data['Gender']=='Male']['Price'].sum()
o_tot_purc_sum = purchase_data[purchase_data['Gender']=='Other / Non-Disclosed']['Price'].sum()

In [1379]:
#Calculate the average purchase total per person using the unique values from the previous 
f_tot_purc_avg = f_tot_purc_sum/f_uniq_count
m_tot_purc_avg = m_tot_purc_sum/m_uniq_count
o_tot_purc_avg = o_tot_purc_sum/o_uniq_count

In [1380]:
#Create DataFrame with a dictionary of lists
purc_analyz_gen_df= pd.DataFrame({
    "Gender":["Male", "Female","Other / Non-Disclosed"],
    "Purchase Count":[m_purc_count,f_purc_count, o_purc_count],
    "Average Purchase Price":[m_price_avg, f_price_avg, o_price_avg],
    "Total Purchase Value" :[m_tot_purc_sum, f_tot_purc_sum, o_tot_purc_sum],
    "Avg Total Purchase per Person":[m_tot_purc_avg, f_tot_purc_avg, o_tot_purc_avg]})

#Set index
purc_analyz_gen_df=purc_analyz_gen_df.set_index("Gender")

#Format price and totals to $$$
purc_analyz_gen_df.style.format({"Average Purchase Price": "${:,.2f}", 
                                 "Total Purchase Value": "${:,.2f}", 
                                 "Avg Total Purchase per Person": "${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [1381]:
#Create bins for ages- 
#Start by figuring out the min and max age (the way done below will print the exact numbers, if you do the max and min outside of the () it will print the entire thing)
print(purchase_data["Age"].max())
print(purchase_data["Age"].min())

45
7

In [1382]:
#Bins, I used the number before the age to avoid it falling out of range, ex: <10 would include 10, therefore I used 9
age_bins = [0,9,14,19,24,29,34,39,99]

#Create labels for the bins
age_labels =['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+'] 
#age_labels

In [1383]:
#Slice the data and place it into the bins
#pd.cut(purchase_data['Age'],age_bins,labels = age_labels).head()
#Categorize existing players
purchase_data['Age Ranges'] = pd.cut(unique_player['Age'],bins,labels = age_labels)
purchase_data['Age Ranges'] = unique_player_data_df

In [1384]:
#purchase_data
age_demo_tot = purchase_data['Age Ranges'].value_counts()
age_demo_perct = age_demo_tot/players_count * 100
age_demo = pd.DataFrame({'Total Count':age_demo_tot, 
                         "Percentage of Players": age_demo_perct})


age_demo = age_demo.round(2)
#age_demo.style.format({"Percentage of Players": "{:,.2f}%"})
age_demo.sort_index()

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [1316]:
#Bin purchase_data - all data including duplicates
purchase_data['Age Ranges']=pd.cut(purchase_data['Age'],bins,labels = age_labels)

In [1385]:
#calculate "purchase count" by age group using groupby 
purc_count_age = purchase_data.groupby(["Age Ranges"]).count()["Price"]
purc_count_age

Age Ranges
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: Price, dtype: int64

In [1361]:
#calculate "avg purchase price" by age group
purc_avg_age = purchase_data.groupby(["Age Ranges"]).mean()["Price"]

In [1362]:
#calculate "total purchase value" by age group
purc_sum_age = purchase_data.groupby(["Age Ranges"]).sum()["Price"]

In [1386]:
#calculate "average total purchase per person" by age group
purc_avg_per_person = purc_sum_age/purc_count_age

In [1387]:
#Summary table of results 
#Create DataFrame with a dictionary of lists
purc_analyz_age_df= pd.DataFrame({
    "":age_labels,
    "Purchase Count":purc_count_age,
    "Average Purchase Price":purc_avg_age,
    "Total Purchase Value" :purc_sum_age,
    "Avg Total Purchase per Person":purc_avg_per_person})

#Set index
purc_analyz_age_df=purc_analyz_age_df.set_index("")

#Format price and totals to $$$
purc_analyz_age_df.style.format({"Average Purchase Price": "${:,.2f}", 
                                 "Total Purchase Value": "${:,.2f}", 
                                 "Avg Total Purchase per Person": "${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [1388]:
#Calculate "Purchase count" - purchase count per member 
member_tot_purc = purchase_data_df.groupby('SN')['Price'].count()
#member_tot_purc

In [1389]:
#Calculate "Average purchase price"
avg_purc_price = purchase_data_df.groupby('SN')['Price'].mean()
#member_avg_purc

In [1390]:
#Calculate "Total purchase value"
tot_purc_value = purchase_data_df.groupby('SN')['Price'].sum()

In [1391]:
#Create df for summary table
top_spenders_df= pd.DataFrame({
    "Purchase Count":member_tot_purc,
    "Average Purchase Price":avg_purc_price,
    "Total Purchase Value" :tot_purc_value})

#Sort in descending order
top_spenders_df = top_spenders_df.sort_values('Total Purchase Value', ascending=False)

#Format to currency
top_spenders_df["Average Purchase Price"] = top_spenders_df["Average Purchase Price"].map("${:,.2f}".format)
top_spenders_df["Total Purchase Value"] = top_spenders_df["Total Purchase Value"].map("${:,.2f}".format)

#Display in df
top_spenders_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [1405]:
#Retireve the Item ID, Item Name, and Item Price Columns - use .loc (as indexer)
items = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]
#items.head()

In [1406]:
#GROUP BY - item ID and Item Name
#Calculate "Purchase Count"
item_purc_count = items.groupby(["Item ID", "Item Name"]).count()["Price"]

#Calculate "Item Price" - average item price
item_price= items.groupby(["Item ID", "Item Name"]).mean()["Price"]

#Calculate "Total Purchase Value"
tot_item_value = items.groupby(["Item ID", "Item Name"]).sum()["Price"]

In [1407]:
#Summary df
most_popular_items_df= pd.DataFrame({"Purchase Count":item_purc_count,
                                     "Item Price":item_price,
                                     "Total Purchase Value" :tot_item_value})

#Format to currency
most_popular_items_df["Item Price"] = most_popular_items_df["Item Price"].map("${:,.2f}".format)
most_popular_items_df["Total Purchase Value"] = most_popular_items_df["Total Purchase Value"].map("${:,.2f}".format)

#Sort in descending order - purchase count
most_popular_items_df = most_popular_items_df.sort_values("Purchase Count", ascending=False)

#Display in df
most_popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [1415]:
#Sort in descending order - total purchase value
most_popular_items_df.sort_values("Total Purchase Value", ascending=False)
most_popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16